.analysis-page {
    display: flex;
    justify-content: center;
  }
  
  body {
    background: url(''); 
    background-size: contain;
    background-color: rgb(177, 233, 236);
    background-repeat: no-repeat;
    background-attachment: fixed; /* Ensures the background image remains fixed */
    background-position: center center;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }

  .chart {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .line-chart {
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue; /* Customize the point color */
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }