/* Sidebar styles */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  transition: left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
  justify-content: flex-start; /* Adjust space between toggle button and tabs */
  padding-top: 20px; /* Add padding at the top */
}

.sidebar.open {
  left: 0;
  width: 230px;
  /* Displayed when open */
}

.sidebar.closed {
  width: 50px;
  left: 0;
}

/* Toggle button styles */
.toggle-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: left 0.3s ease-in-out;
}

/* Sidebar button styles */
.sidebar button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 15px;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s;
  font-size: 20px;
  margin-bottom: 10px; /* Reduce space between tabs */
}

.sidebar button:hover {
  background-color: #555;
}

/* Add this CSS to your styles */
body {
  background: url('../../images/login.png');
  background-size: contain;
  background-color: rgb(5,93,101);
  background-repeat: no-repeat;
  background-attachment: fixed; /* Ensures the background image remains fixed */
  background-position: center center;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

/* Content styles */
.content {
  margin: 0 auto; /* Center content horizontally */
  margin-top: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text in the content */
}

/* Add this CSS to your styles */
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upload-container input {
  margin-bottom: 10px; /* Add space between input and button */
}

/* Improve text appearance */
.content h1 {
  font-size: 32px;
  margin-bottom: 20px; /* Add space below heading */
  font-weight: bold;
  color: #fdfdfd; /* Text color for headings */
}

.content h2 {
  font-size: 28px;
  margin-bottom: 20px; /* Add space below subheading */
  color: #f0e6e6; /* Text color for subheadings */
}

/* Update text color and font size for regular text */
.content p {
  font-size: 18px;
  color: #777; /* Text color for regular text */
}

/* Add Employee form styles */
.input-container {
  margin-bottom: 20px;
}

/* Add Employee button styles */
.content button[type="submit"] {
  background-color: #3498db; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
}

.content button[type="submit"]:hover {
  background-color: #2666a4; /* Hover background color */
}

/* Loading screen styles */
.loading-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
